@font-face {
  font-family: "Aliens-Cows";
  src: url("/assets/fonts/aliens_and_cows.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --main-color: #000000;
  --accent-color: #ffffff;
  --font: "Aliens-Cows", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  margin-bottom: 4rem;
}

.logo {
  font-family: var(--font);
  text-align: center;
  user-select: none;
  display: block;
  text-decoration: none;
  color: var(--main-color);
  background-color: #fff;
  height: 9rem;
  width: 9rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  img {
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-25%)
  }
  &-top {
    font-size: 1.5rem;
    transition: all 0.33s;
  }
  &-bottom {
    font-size: 2rem;
  }
  &:hover {
    & .logo-top {
      color: red;
    }
  }
}

nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background: var(--accent-color);
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

nav ul {
  display: none;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  padding-bottom: 4rem;
  iframe {
    width: calc(100vw / 16 * 8);
    height: calc(100vh / 16 * 8)
  }
}

.testimonial {
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-family: sans-serif;
  color: var(--main-color);
  &:nth-child(2n) {
    background-color: var(--main-color);
    flex-direction: row-reverse;
    color: var(--accent-color);
    p {
      padding-left: 0;
      padding-right: 8rem;
    }
  }
  img {
    width: 400px;
    height: 300px;
  }
  p {
    padding-left: 8rem;
  }
}

@media (max-width: 1000px) {
  .testimonial,
  .testimonial:nth-child(2n) {
    flex-direction: column;
    text-align: center;
    p {
      padding: 0 8rem;
    }
  }
}

@media (max-width: 780px) {
  .testimonial,
  .testimonial:nth-child(2n) {
    padding: 2rem;
    p {
      padding: 0 4rem;
    }
  }
}

@media (max-width: 420px) {
  .testimonial,
  .testimonial:nth-child(2n) {
    padding: 0;
    img {
      width: 100%;
      height: auto;
    }
    p {
      padding: 0 1rem;
    }
  }
}