body {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  padding-left: 20vh;
  width: 80vw;
  min-height: calc(100vh - 96px);
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}